/* Reset some default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background: linear-gradient(to bottom right, #f2f4f8, #e8eaf6);
  font-family: 'Segoe UI', sans-serif;
}
